<mat-card>
  <mat-card-header>
    <mat-card-title>
      <strong>Thesaurus Entries Picker Demo</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top: 16px">
    <div>
      <form class="form-row">
        <mat-checkbox [formControl]="custom">custom</mat-checkbox>
        <mat-checkbox [formControl]="autoSort">auto-sort</mat-checkbox>
        <mat-form-field class="nr">
          <mat-label>min</mat-label>
          <input matInput type="number" min="0" [formControl]="min" />
        </mat-form-field>
        <mat-form-field class="nr">
          <mat-label>max</mat-label>
          <input matInput type="number" min="0" [formControl]="max" />
        </mat-form-field>
      </form>
    </div>
    <hr />
    <div>
      <cadmus-thesaurus-entries-picker
        [availableEntries]="availableEntries()"
        [hierarchicLabels]="hierarchicLabels()"
        [allowCustom]="custom.value"
        [autoSort]="autoSort.value"
        [minEntries]="min.value"
        [maxEntries]="max.value"
        [entries]="entries()"
        (entriesChange)="onEntriesChange($event)"
      />
    </div>
    <hr />
    @if (entries().length > 0) {
    <div>
      <code>
        <pre>{{ entries() | json }}</pre>
      </code>
    </div>
    }
  </mat-card-content>
</mat-card>
